{{#vendorExtensions.x-airgen-transitionType}}{{vendorExtensions.x-airgen-transitionType}}{{/vendorExtensions.x-airgen-transitionType}}{{^vendorExtensions.x-airgen-transitionType}}dataOnly{{/vendorExtensions.x-airgen-transitionType}}