{{#vendorExtensions.x-airgen-transitionType}}{{vendorExtensions.x-airgen-transitionType}}{{/vendorExtensions.x-airgen-transitionType}}{{^vendorExtensions.x-airgen-transitionType}}none{{/vendorExtensions.x-airgen-transitionType}}