public class {{classname}}: NSObject, Codable {
{{#allVars}}
{{#isEnum}}
{{> modelInlineEnumDeclaration}}
{{/isEnum}}
{{/allVars}}
{{#allVars}}
    {{#description}}/** {{description}} */
    {{/description}}public let {{name}}: {{> ModelObjectEnumType.snippet}}{{> Optional.snippet}}
{{/allVars}}
{{#hasVars}}
    public init({{#allVars}}{{name}}: {{> ModelObjectEnumType.snippet}}{{> Optional.snippet}}{{> ParamRequiredDefaultValue.snippet}}{{#hasMore}}, {{/hasMore}}{{/allVars}}) {
        {{#allVars}}
        self.{{name}} = {{name}}
        {{/allVars}}
    }
}