{{! Mustache templates do not have OR logic, so had to contract a simple 3 variable OR logic with only AAND logic - ts terrible }}
{{#hasParams}}{{#hasHeaderParams}}{{#hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}{{^hasParams}}{{#hasHeaderParams}}{{#hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}{{#hasParams}}{{^hasHeaderParams}}{{#hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}{{#hasParams}}{{#hasHeaderParams}}{{^hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}{{#hasParams}}{{^hasHeaderParams}}{{^hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}{{^hasParams}}{{^hasHeaderParams}}{{#hasBodyParam}}{{> RequestInit.snippet}}{{/hasBodyParam}}{{/hasHeaderParams}}{{/hasParams}}