{{#hasHeaderParams}}
public extension {{operationIdCamelCase}}Request {
    public struct Headers: Codable {
    {{#headerParams}}
        {{#description}}/** {{description}} */
        {{/description}}public let {{paramName}}: {{> RequestParamsEnumType.snippet}}{{> Optional.snippet}}
    {{/headerParams}}
        public init({{#headerParams}}{{paramName}}: {{> RequestParamsEnumType.snippet}}{{> Optional.snippet}}{{> ParamRequiredDefaultValue.snippet}}{{#hasMore}}, {{/hasMore}}{{/headerParams}}) {
            {{#headerParams}}
            self.{{paramName}} = {{paramName}}
            {{/headerParams}}
        }
    }
}


//
//     _____                             _      __    _ __
//    / ___/__  ___  __ __  ___  ___    | | /| / /___(_) /____
//   / /__/ _ \/ _ \/ // / / _ \/ _ \   | |/ |/ / __/ / __/ -_)
//   \___/\___/ .__/\_, /  \___/_//_/   |__/|__/_/ /_/\__/\__/
//           /_/   /___/
//
public extension {{operationIdCamelCase}}Request.Headers {
    {{#headerParams}}
    func with({{paramName}}: {{> RequestParamsEnumType.snippet}}{{> Optional.snippet}}) -> {{operationIdCamelCase}}Request.Headers {
        return {{operationIdCamelCase}}Request.Headers({{#headerParams}}{{paramName}}:{{paramName}}{{#hasMore}}, {{/hasMore}}{{/headerParams}})
    }
    {{/headerParams}}
}

public extension {{operationIdCamelCase}}Request {
    {{#headerParams}}
    func with({{paramName}}: {{> RequestParamsEnumType.snippet}}{{> Optional.snippet}}) -> {{operationIdCamelCase}}Request {
        return {{operationIdCamelCase}}Request(url:url, headers:headers.with({{paramName}}:{{paramName}}), body:body)
    }
    {{/headerParams}}
}
{{/hasHeaderParams}}