/*
 *    ____     __               _
 *   / __/_ __/ /____ ___  ___ (_)__  ___  ___
 *  / _/ \ \ / __/ -_) _ \(_-</ / _ \/ _ \(_-<
 * /___//_\_\\__/\__/_//_/___/_/\___/_//_/___/
 */

 // Needs to get hoisted into superclass (but that currently messes up Codable protocol considerably)
public extension {{operationIdCamelCase}}Request {
    @discardableResult
    public func setCookie(key: String, value: String, path: String = "/", expireInMinutes experiation: TimeInterval? = nil) -> Bool { return setCookieForURL(self.url.url, key: key, value: value, path: path, expireInMinutes: experiation) }
    public func getCookie(key: String) -> String? { return getCookieForURL(self.url.url, withKey: key) }
    var cookies: [String: String]? { get { return getCookiesForURL(self.url.url) } }
    public func deleteCookies() { deleteCookiesForURL(self.url.url) }
}

// AirGen Related Methods
public extension {{operationIdCamelCase}}Request {
    var asAirGapRequest: Request { return Request(verb: {{operationIdCamelCase}}Request.verb, transitionType: {{operationIdCamelCase}}Request.transitionType, urlString: self.url.urlString, query: url.query.asStringDictionary, headers: self.headers.asStringDictionary, body: self.body.asDictionary) }
    var asData: Data { return try! JSONEncoder().encode(self) }// AirGen objects have guaranteed data consistency so we can assert this won't throw
    var asRawString: String { return String(data: self.asData, encoding: .utf8)! } // AirGen objects have guaranteed data consistency so we can assert this won't throw
}
