{{#hasQueryParams}}
    public struct Query: Codable {

    {{#queryParams}}
        {{#description}}/** {{description}} */
        {{/description}}public let {{paramName}}: {{dataType}}{{^required}}?{{/required}}
    {{/queryParams}}

        public init({{#queryParams}}{{paramName}}: {{dataType}}{{^required}}?{{/required}}{{> ParamRequiredDefaultValue.snippet}}{{#hasMore}}, {{/hasMore}}{{/queryParams}}) {
            {{#queryParams}}
            self.{{paramName}} = {{paramName}}
            {{/queryParams}}
        }
    }
{{/hasQueryParams}}
