
{{#hasPathParams}}

    public struct Path: Codable {

    {{#pathParams}}
        {{#description}}/** {{description}} */
        {{/description}}public let {{paramName}}: {{dataType}}{{^required}}?{{/required}}
    {{/pathParams}}

        public init({{#pathParams}}{{paramName}}: {{dataType}}{{^required}}?{{/required}}{{> ParamRequiredDefaultValue.snippet}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}) {
            {{#pathParams}}
            self.{{paramName}} = {{paramName}}
            {{/pathParams}}
        }
    }

{{/hasPathParams}}
